<html>
       <head>
           <title>Blog  Jorge Ramirez</title>
       </head>
       <body>
           <div>
              <h1 ALIGN=center>¡Bienvenidos!</h1>
           </div>
         </br>
           <div>
             {% for publicaciones in publicaciones %}
                <div>
                    <p><strong>Publicado: {{ publicaciones.fecha_publicacion }}</strong></p>
                    <h1><a href="">{{ publicaciones.titulo}}</a></h1>
                    <p>{{ publicaciones.texto|linebreaks }}</p>
               </div>
            {% endfor %}
           </div>
       </body>
   </html>
